.header {
  width: 100%;
  height: 50px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7px;
  color: #fff;
}

.search-contacts-drawer .MuiDrawer-paper { // drawer находится вне иерархии хедера
  background-color: #000;
  padding: 10px;
  width: 290px;
}